
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../img/back3.png') no-repeat center center/cover;
    color: #333;
    display: flex;
    height: 100vh;
    overflow: hidden;
    
}
nav {
    width: 220px;
    background-color: rgba(0, 0, 0, 0.7); /* Dark translucent background */
    height: 100vh;
    padding-top: 20px;
}
.nav-logo {
    text-align: center;
    margin-bottom: 40px;
}

.nav-logo img {
    width: 150px;
    height: auto;
    border-radius: 50%; /* Optional: makes the logo circular */
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #e9c41e;
    font-weight: bold;
    color: #000;

}
.evaluation-container {
    width: 94%;
    margin: 30px auto;
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 85vh; 
    overflow-y: auto; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 20px;

}
s


h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background:rgba(255, 204, 0, 0.86);
    color: white;
}

tr:hover {
    background: rgba(255, 255, 255, 0.1);
}

a {
    text-decoration: none;
    color: #ffcc00;
    font-weight: bold;
}

a:hover {
    color: #ffcc00;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background:rgba(255, 204, 0, 0.86);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #ffcc00;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
